
user Works!
<form [formGroup]="formUser">
  <div class="form-group">
    <label for="nome">
      Nome
      </label>
      <input type="text" name="nome" formControlName="nome">
      <!-- //formControlName é o nome da chave do formGrup que você deseja manipular -->
    </div>
    <div class="form-group">
      <label for="sobrenome">
        Sobrenome
        </label>
        <input type="text" name="sobrenome" formControlName="sobrenome">
        <!-- //formControlName é o nome da chave do formGrup que você deseja manipular -->
      </div>
      <div class="form-group">
        <label for="email">
          E-mail
          </label>
          <input type="email" name="email" formControlName="email">
          <!-- //formControlName é o nome da chave do formGrup que você deseja manipular -->
        </div>
        <div class="form-group">
          <label for="telefone">
            Telefone
            </label>
            <input type="text" name="telefone" formControlName="telefone">
            <!-- //formControlName é o nome da chave do formGrup que você deseja manipular -->

          </div>
</form>

  <h1>Meu nome é {{formUser.value.nome}}</h1>
  <h1>Meu sobrenome é  {{formUser.value.sobrenome}}</h1>
  <h1>Meu telefone é {{formUser.value.telefone}}</h1>
  <h1>Meu e-mail é {{formUser.value.email}}</h1>
